USE [VGestF19]
GO
/****** Object:  Table [dbo].[ArtFamilias]    Script Date: 06/10/2020 21:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtFamilias](
	[Familia] [int] IDENTITY(1,1) NOT NULL,
	[Designacao] [nvarchar](80) NULL,
 CONSTRAINT [PK_ArtFamilias] PRIMARY KEY CLUSTERED 
(
	[Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Artigos]    Script Date: 06/10/2020 21:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artigos](
	[Artigo] [nvarchar](25) NOT NULL,
	[Familia] [int] NULL,
	[Designacao] [nvarchar](250) NULL,
 CONSTRAINT [PK_Artigos] PRIMARY KEY CLUSTERED 
(
	[Artigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBase Moradas]    Script Date: 06/10/2020 21:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBase Moradas](
	[Morada] [int] IDENTITY(1,1) NOT NULL,
	[Designacao] [nvarchar](30) NULL,
	[obs] [ntext] NULL,
 CONSTRAINT [PK_TBase Moradas] PRIMARY KEY CLUSTERED 
(
	[Morada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terceiros]    Script Date: 06/10/2020 21:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terceiros](
	[Classe] [nvarchar](5) NOT NULL,
	[Terceiro] [nvarchar](8) NOT NULL,
	[Classificacao] [nvarchar](20) NULL,
	[NIF] [nvarchar](20) NULL,
	[Nome] [nvarchar](80) NULL,
	[SegNome] [nvarchar](40) NULL,
	[Morada] [nvarchar](60) NULL,
	[Pais] [nvarchar](2) NULL,
	[Localidade] [int] NULL,
	[CodPostal] [nvarchar](10) NULL,
	[LocPostal] [nvarchar](40) NULL,
	[Zona] [int] NULL,
	[Telefone] [nvarchar](25) NULL,
	[Fax] [nvarchar](25) NULL,
	[Telemovel] [nvarchar](25) NULL,
	[HomePage] [nvarchar](50) NULL,
	[eMail] [nvarchar](50) NULL,
	[Contactos] [nvarchar](40) NULL,
	[Moeda] [nvarchar](3) NULL,
	[CondPag] [int] NULL,
	[FormPag] [int] NULL,
	[CodDesconto] [int] NULL,
	[Vendedor] [nvarchar](8) NULL,
	[Expedicao] [int] NULL,
	[Carga] [nvarchar](50) NULL,
	[Descarga] [nvarchar](50) NULL,
	[TipoPreco] [smallint] NULL,
	[TipoCliente] [smallint] NULL,
	[NumVias] [smallint] NULL,
	[IVA] [bit] NULL,
	[LigaCC] [bit] NULL,
	[ControlaCredito] [bit] NULL,
	[LimDias] [smallint] NULL,
	[Plafond1] [float] NULL,
	[Plafond2] [float] NULL,
	[Bloqueado] [smallint] NULL,
	[DataCria] [datetime] NULL,
	[DtUpdate] [datetime] NULL,
	[HrUpdate] [datetime] NULL,
	[DataUltMov] [datetime] NULL,
	[CodCAE] [nvarchar](5) NULL,
	[Actividade] [nvarchar](40) NULL,
	[DiaPag1] [smallint] NULL,
	[DiaPag2] [smallint] NULL,
	[DiaPag3] [smallint] NULL,
	[DescFin] [nvarchar](20) NULL,
	[TotalDebito] [float] NULL,
	[TotalCredito] [float] NULL,
	[PrazMedCob] [real] NULL,
	[NumCob] [int] NULL,
	[AcumVnd] [float] NULL,
	[AcumCmp] [float] NULL,
	[IconPeq] [smallint] NULL,
	[IconGra] [smallint] NULL,
	[TemIRS] [bit] NULL,
	[TaxIRS] [real] NULL,
	[Informacoes] [ntext] NULL,
	[CtbVndConta] [nvarchar](15) NULL,
	[CtbVndLetras] [nvarchar](15) NULL,
	[CtbCmpConta] [nvarchar](15) NULL,
	[CtbCmpLetras] [nvarchar](15) NULL,
	[CtbDVdConta] [nvarchar](15) NULL,
	[CtbDVdLetras] [nvarchar](15) NULL,
	[CtbDCpConta] [nvarchar](15) NULL,
	[CtbDCpLetras] [nvarchar](15) NULL,
	[NIFKey] [nvarchar](20) NULL,
	[obs] [ntext] NULL,
	[recno] [int] IDENTITY(1,1) NOT NULL,
	[txtBotao] [nvarchar](50) NULL,
	[ImgBotao] [nvarchar](250) NULL,
	[CorBotao] [int] NULL,
	[CorTexto] [int] NULL,
	[FntName] [nvarchar](80) NULL,
	[FntSize] [smallint] NULL,
	[FntBld] [bit] NULL,
	[FntItl] [bit] NULL,
	[FntUnd] [bit] NULL,
	[FntStr] [bit] NULL,
	[AcumPOS] [float] NULL,
	[CorBackPOS] [int] NULL,
	[CorFontPOS] [int] NULL,
	[TemOnline] [bit] NULL,
	[UsrOnline] [nvarchar](30) NULL,
	[PwdOnline] [nvarchar](16) NULL,
	[SitOnline] [smallint] NULL,
	[TemEDI] [bit] NULL,
	[CodEDI] [nvarchar](35) NULL,
	[CodEAN] [nvarchar](20) NULL,
	[FoiEnviado] [bit] NULL,
	[CtbVndCntRad] [nvarchar](15) NULL,
	[CtbVndLtrRad] [nvarchar](15) NULL,
	[CtbCmpCntRad] [nvarchar](15) NULL,
	[CtbCmpLtrRad] [nvarchar](15) NULL,
	[Distrito] [int] NULL,
	[Concelho] [int] NULL,
	[Freguesia] [int] NULL,
	[PontosVal] [float] NULL,
	[PontosQtd] [float] NULL,
	[PlafondRes] [float] NULL,
	[ambTipo] [smallint] NULL,
	[DesVersao] [nvarchar](4) NULL,
	[DesCodigo] [nvarchar](3) NULL,
	[FoiRetirado] [bit] NULL,
	[TemAutoFactura] [bit] NULL,
	[MotivoIsentoIVA] [nvarchar](60) NULL,
	[TemIVACaixa] [bit] NULL,
	[isColetado] [bit] NULL,
	[infoAviso] [ntext] NULL,
	[TabIVA] [int] NULL,
	[MotivoIsentoIVACode] [nvarchar](3) NULL,
 CONSTRAINT [PK_Terceiros] PRIMARY KEY CLUSTERED 
(
	[Classe] ASC,
	[Terceiro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerClasses]    Script Date: 06/10/2020 21:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerClasses](
	[Classe] [nvarchar](5) NOT NULL,
	[Designacao] [nvarchar](15) NULL,
	[Contador] [int] NULL,
	[CondPag] [int] NULL,
	[FormPag] [int] NULL,
	[Vendedor] [nvarchar](8) NULL,
	[Expedicao] [int] NULL,
	[Carga] [nvarchar](50) NULL,
	[Descarga] [nvarchar](50) NULL,
	[CodDesconto] [int] NULL,
	[TipoPreco] [smallint] NULL,
	[TipoCliente] [smallint] NULL,
	[NumVias] [smallint] NULL,
	[IVA] [bit] NULL,
	[LigaCC] [bit] NULL,
	[ControlaCredito] [bit] NULL,
	[LimDias] [smallint] NULL,
	[Plafond1] [float] NULL,
	[Plafond2] [float] NULL,
	[DataCria] [datetime] NULL,
	[DtUpdate] [datetime] NULL,
	[HrUpdate] [datetime] NULL,
	[IconPeq] [smallint] NULL,
	[IconGra] [smallint] NULL,
	[Moeda] [nvarchar](3) NULL,
	[TemIRS] [bit] NULL,
	[TaxIRS] [real] NULL,
	[obs] [ntext] NULL,
	[ContaIndividual] [bit] NULL,
	[CtbCmpVnd] [smallint] NULL,
	[CtbNFRegIVA1] [nvarchar](15) NULL,
	[CtbNFRegIVA2] [nvarchar](15) NULL,
	[CtbNFRegIVA3] [nvarchar](15) NULL,
	[CtbNFRegIVA4] [nvarchar](15) NULL,
	[CtbFERegIVA1] [nvarchar](15) NULL,
	[CtbFERegIVA2] [nvarchar](15) NULL,
	[CtbFERegIVA3] [nvarchar](15) NULL,
	[CtbFERegIVA4] [nvarchar](15) NULL,
	[CtbVndConta] [nvarchar](15) NULL,
	[CtbVndLetras] [nvarchar](15) NULL,
	[CtbVndDCom] [nvarchar](15) NULL,
	[CtbVndDFin] [nvarchar](15) NULL,
	[CtbVndPortes] [nvarchar](15) NULL,
	[CtbVndDiv] [nvarchar](15) NULL,
	[CtbVndMP1] [nvarchar](15) NULL,
	[CtbVndMP2] [nvarchar](15) NULL,
	[CtbVndMP3] [nvarchar](15) NULL,
	[CtbVndMP4] [nvarchar](15) NULL,
	[CtbVndPA1] [nvarchar](15) NULL,
	[CtbVndPA2] [nvarchar](15) NULL,
	[CtbVndPA3] [nvarchar](15) NULL,
	[CtbVndPA4] [nvarchar](15) NULL,
	[CtbVndSR1] [nvarchar](15) NULL,
	[CtbVndSR2] [nvarchar](15) NULL,
	[CtbVndSR3] [nvarchar](15) NULL,
	[CtbVndSR4] [nvarchar](15) NULL,
	[CtbVndIVA1] [nvarchar](15) NULL,
	[CtbVndIVA2] [nvarchar](15) NULL,
	[CtbVndIVA3] [nvarchar](15) NULL,
	[CtbVndIVA4] [nvarchar](15) NULL,
	[CtbVndDedIVA1] [nvarchar](15) NULL,
	[CtbVndDedIVA2] [nvarchar](15) NULL,
	[CtbVndDedIVA3] [nvarchar](15) NULL,
	[CtbVndDedIVA4] [nvarchar](15) NULL,
	[CtbCmpConta] [nvarchar](15) NULL,
	[CtbCmpLetras] [nvarchar](15) NULL,
	[CtbCmpDCom] [nvarchar](15) NULL,
	[CtbCmpDFin] [nvarchar](15) NULL,
	[CtbCmpPortes] [nvarchar](15) NULL,
	[CtbCmpDiv] [nvarchar](15) NULL,
	[CtbCmpMP1] [nvarchar](15) NULL,
	[CtbCmpMP2] [nvarchar](15) NULL,
	[CtbCmpMP3] [nvarchar](15) NULL,
	[CtbCmpMP4] [nvarchar](15) NULL,
	[CtbCmpPA1] [nvarchar](15) NULL,
	[CtbCmpPA2] [nvarchar](15) NULL,
	[CtbCmpPA3] [nvarchar](15) NULL,
	[CtbCmpPA4] [nvarchar](15) NULL,
	[CtbCmpSR1] [nvarchar](15) NULL,
	[CtbCmpSR2] [nvarchar](15) NULL,
	[CtbCmpSR3] [nvarchar](15) NULL,
	[CtbCmpSR4] [nvarchar](15) NULL,
	[CtbCmpIVA1] [nvarchar](15) NULL,
	[CtbCmpIVA2] [nvarchar](15) NULL,
	[CtbCmpIVA3] [nvarchar](15) NULL,
	[CtbCmpIVA4] [nvarchar](15) NULL,
	[CtbCmpDedIVA1] [nvarchar](15) NULL,
	[CtbCmpDedIVA2] [nvarchar](15) NULL,
	[CtbCmpDedIVA3] [nvarchar](15) NULL,
	[CtbCmpDedIVA4] [nvarchar](15) NULL,
	[CtbDVdConta] [nvarchar](15) NULL,
	[CtbDVdLetras] [nvarchar](15) NULL,
	[CtbDVdDCom] [nvarchar](15) NULL,
	[CtbDVdDFin] [nvarchar](15) NULL,
	[CtbDVdPortes] [nvarchar](15) NULL,
	[CtbDVdDiv] [nvarchar](15) NULL,
	[CtbDVdMP1] [nvarchar](15) NULL,
	[CtbDVdMP2] [nvarchar](15) NULL,
	[CtbDVdMP3] [nvarchar](15) NULL,
	[CtbDVdMP4] [nvarchar](15) NULL,
	[CtbDVdPA1] [nvarchar](15) NULL,
	[CtbDVdPA2] [nvarchar](15) NULL,
	[CtbDVdPA3] [nvarchar](15) NULL,
	[CtbDVdPA4] [nvarchar](15) NULL,
	[CtbDVdSR1] [nvarchar](15) NULL,
	[CtbDVdSR2] [nvarchar](15) NULL,
	[CtbDVdSR3] [nvarchar](15) NULL,
	[CtbDVdSR4] [nvarchar](15) NULL,
	[CtbDVdIVA1] [nvarchar](15) NULL,
	[CtbDVdIVA2] [nvarchar](15) NULL,
	[CtbDVdIVA3] [nvarchar](15) NULL,
	[CtbDVdIVA4] [nvarchar](15) NULL,
	[CtbDVdDedIVA1] [nvarchar](15) NULL,
	[CtbDVdDedIVA2] [nvarchar](15) NULL,
	[CtbDVdDedIVA3] [nvarchar](15) NULL,
	[CtbDVdDedIVA4] [nvarchar](15) NULL,
	[CtbDCpConta] [nvarchar](15) NULL,
	[CtbDCpLetras] [nvarchar](15) NULL,
	[CtbDCpDCom] [nvarchar](15) NULL,
	[CtbDCpDFin] [nvarchar](15) NULL,
	[CtbDCpPortes] [nvarchar](15) NULL,
	[CtbDCpDiv] [nvarchar](15) NULL,
	[CtbDCpMP1] [nvarchar](15) NULL,
	[CtbDCpMP2] [nvarchar](15) NULL,
	[CtbDCpMP3] [nvarchar](15) NULL,
	[CtbDCpMP4] [nvarchar](15) NULL,
	[CtbDCpPA1] [nvarchar](15) NULL,
	[CtbDCpPA2] [nvarchar](15) NULL,
	[CtbDCpPA3] [nvarchar](15) NULL,
	[CtbDCpPA4] [nvarchar](15) NULL,
	[CtbDCpSR1] [nvarchar](15) NULL,
	[CtbDCpSR2] [nvarchar](15) NULL,
	[CtbDCpSR3] [nvarchar](15) NULL,
	[CtbDCpSR4] [nvarchar](15) NULL,
	[CtbDCpIVA1] [nvarchar](15) NULL,
	[CtbDCpIVA2] [nvarchar](15) NULL,
	[CtbDCpIVA3] [nvarchar](15) NULL,
	[CtbDCpIVA4] [nvarchar](15) NULL,
	[CtbDCpDedIVA1] [nvarchar](15) NULL,
	[CtbDCpDedIVA2] [nvarchar](15) NULL,
	[CtbDCpDedIVA3] [nvarchar](15) NULL,
	[CtbDCpDedIVA4] [nvarchar](15) NULL,
	[txtBotao] [nvarchar](50) NULL,
	[ImgBotao] [nvarchar](250) NULL,
	[CorBotao] [int] NULL,
	[CorTexto] [int] NULL,
	[FntName] [nvarchar](80) NULL,
	[FntSize] [smallint] NULL,
	[FntBld] [bit] NULL,
	[FntItl] [bit] NULL,
	[FntUnd] [bit] NULL,
	[FntStr] [bit] NULL,
	[FoiEnviado] [bit] NULL,
	[CtbVndCntRad] [nvarchar](15) NULL,
	[CtbVndLtrRad] [nvarchar](15) NULL,
	[CtbCmpCntRad] [nvarchar](15) NULL,
	[CtbCmpLtrRad] [nvarchar](15) NULL,
	[CtbVndOT1] [nvarchar](15) NULL,
	[CtbVndOT2] [nvarchar](15) NULL,
	[CtbVndOT3] [nvarchar](15) NULL,
	[CtbVndOT4] [nvarchar](15) NULL,
	[CtbCmpOT1] [nvarchar](15) NULL,
	[CtbCmpOT2] [nvarchar](15) NULL,
	[CtbCmpOT3] [nvarchar](15) NULL,
	[CtbCmpOT4] [nvarchar](15) NULL,
	[CtbDVdOT1] [nvarchar](15) NULL,
	[CtbDVdOT2] [nvarchar](15) NULL,
	[CtbDVdOT3] [nvarchar](15) NULL,
	[CtbDVdOT4] [nvarchar](15) NULL,
	[CtbDCpOT1] [nvarchar](15) NULL,
	[CtbDCpOT2] [nvarchar](15) NULL,
	[CtbDCpOT3] [nvarchar](15) NULL,
	[CtbDCpOT4] [nvarchar](15) NULL,
 CONSTRAINT [PK_TerClasses] PRIMARY KEY CLUSTERED 
(
	[Classe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
